<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Custom Tattoo Design - Mobile CRM</h1>
	<h2>Tornado Hunters - Hello World</h2>

	<table>
		<tr>
			<th>Thomas Chapman</th>
			<td>chapmath@sheridancollege.ca</td>
		</tr>
		<tr>
			<th>Fernando Fedele</th>
			<td>fedelef@sheridancollege.ca</td>
		</tr>
		<tr>
			<th>Roman Krutikov</th>
			<td>krutikov@sheridancollege.ca</td>
		</tr>
		<tr>
			<th>Andreea Popa</th>
			<td>popaan@sheridancollege.ca</td>
		</tr>
	</table>
</body>
</html>